.header {
    padding: 20px 30px;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.048);
}
nav {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    // align-content: baseline;

}

.menu {
    margin-top:10px
}

.menu-item {
    // align-items: baseline;
    margin: 40px 0 20px 0;
    padding : 0px 15px ;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.menu-item:hover {
    border-bottom : 2px solid  rgba(110, 3, 30, 0.897) ;
    text-decoration: none;
    font-size: 18px;
    color: black;
}



