
.hero-box {
    background-image: linear-gradient(to left , rgba(110, 3, 30, 0.404) , rgba(158, 78, 4, 0.493) ), url('../../img/hero-img.jpg');
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.hero-text {
    position : absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    transition: all .4s ease-in ;

}

.hero-text-main {
    font-size : 50px ;
    color: white;
    margin: 20px 0px;
}

.hero-text-secondary {
    font-size : 25px;
    color: white;
}


